/* Sidebar styles */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px; /* Fixed width */
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li a i {
    font-size: 24px; /* Icon size */
}

.mainContent {
    margin-left: 60px; /* Same as sidebar width */
    padding: 20px;
    width: calc(100% - 60px); /* Remaining width */
    background-color: #f8f8f8;
}

h1 {
    font-size: 24px;
}

.filterContainer,
.taskList,
.chartContainer {
    margin-bottom: 20px;
}

.tableContainer {
    margin-top: 20px;
}

.taskTable th,
.taskTable td {
    padding: 10px;
    text-align: left;
}

.chartContainer {
    display: flex;
    justify-content: center;
}

.chartContainer h3 {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
